:root {
  --app-primary-color: #18312d;
  --app-secondary-color: rgb(202, 227, 223);
  --edge-offset: 0.5rem;
  --s1: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.with-sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s1);
}

.with-sidebar > :first-child {
  flex-grow: 1;
}

.with-sidebar > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 50%;
}

.grid {
  display: inline-grid;
  grid-gap: 1rem;
}

@supports (width: min(318px, 100%)) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(min(318px, 100%), 1fr));
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pending-mini {
  padding: 1rem;
}

.head {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 56px;
  max-height: 56px;
  width: 100%;
  background-color: var(--app-primary-color);
  color: white;
  margin: 0px;
  padding: 0px;
}

.head > p {
  margin-left: 1rem;
}

body {
  margin-top: 66px;
  margin-bottom: 86px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: stretch;
}

#gallery {
  width: 100%;
}

#viewer {
  max-width: 628px;
  margin: 0px;
}

#viewerbg {
  background-color: rgb(202, 227, 223);
  z-index: -1;
  width: 642px;
  max-width: 642px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
}

#searchString {
  width: 80%;
  font-size: large;
  margin: 2rem;
}
